body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 400px;
    text-align: center;
    margin-top: 20px;
}

h1 {
    margin: 10px 0;
    color: #ff4500;  /* Orange color for heading */
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff0000;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(255, 69, 0, 0.5);  /* Orange shadow for buttons */
    transition: transform 0.3s;
}

button:hover {
    background-color: #cc0000;
    transform: scale(1.05);
}

a {
    text-decoration: none;
    color: inherit;
}
